/*header*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.main-background {
    background-color: #c2c7cc;
    background: url(../images/main-background.png) no-repeat;
    max-height: 600px;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    border-top: 5px solid #2ecc71;
}

.notify {
    float: left;
    padding-top: 150px;
    width: 40%;
    margin: auto;
    padding-left: 122px;
}

.notify p {
    max-width: 453px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 22px;
}

.hand {
    float: right;
    padding-top: 95px;
    width: 40%;
    margin: auto;
    padding-left: 30px;
}

.nav-header {
    padding: 0;
}

.nav-header a {
    padding: 18px 18px;
    background-color: #000000;
    border-radius: 100px;
    opacity: 0.5;
}

.nav-header a:hover {
    background-color: #2ecc71;
    border-radius: 100px;
    opacity: 0.5;
}

.nav-header img {
    vertical-align: middle;
    width: 21px;
    height: 26px;
}

.nav-header li:hover > ul {
    display: block;
}

.nav-header ul {
    display: none;
}

.nav-header li {
    display: inline-block;
    margin-right: 10px;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

/*--1--*/
.background-editable-flat-reach {
    overflow: hidden;
}

.gear-star-earth {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding-top: 40px;
    padding-left: 0;
}

.gear a {
    text-decoration: none;
}

.gear {
    text-align: center;
    max-width: 320px;
    padding: 0;
}

.gear img {
    line-height: 80px;
    padding: 25px 25px;
    background-color: #2ecc71;
    border-radius: 53px;
    margin: auto;
}

.gear img:hover {
    background-color: #2ecc71;
    border-radius: 53px;
}

.gear a:hover {
    background-color: #2ecc71;
    border-radius: 53px;
    opacity: 0.5;
}

.gear h2 {
    color: #222222;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
}

.gear-star-earth p {
    color: #848484;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*--2--*/
.background-send {
    background-color: #e3e3e3;
    min-height: 427px;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
}

.notify-adn-upd {
    float: left;
    width: 44%;
    margin: auto;
    padding-left: 20px;
    padding-top: 45px;
}

.notify-adn-upd h2 {
    color: #222222;
    font-family: 'Raleway - Semi Bold', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

.notify-adn-upd p {
    color: #848484;
    font-family: 'Helvetica Neue', 'Helvetica', 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form {
    display: flex;
    height: 56px;
    max-width: 587px;
}

input {
    /*float: left;*/
    line-height: 54px;
    padding: 0 30px;
    width: 60%;
    border-radius: 15px 0 0 15px;
}

button {
    /*float: right;*/
    padding: 0 20px;
    height: 56px;
    width: 40%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    background-color: #2ecc71;
    border-radius: 0 15px 15px 0;
}

.video {
    padding-top: 60px;
}

.videoWrapper {
    float: right;
    width: 42%;
    margin: auto;
    overflow: hidden;
    padding: 2px 2px;
    border-radius: 7px;
}

.videoWrapper iframe {
    width: 100%;
    min-height: 307px;
    display: block;
}

/*--3--*/
.background-people {
    background-color: #ffffff;
    min-height: 464px;
}

.about-people blockquote, .about-people p, .people-about p, .people-about h3 {
    max-width: 825px;
    text-align: center;
    margin: auto;
}

.about-people blockquote {
    color: #848484;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    padding-top: 52px;
}

.about-people p {
    color: #2e2e2e;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 28px;
    padding-top: 22px;
}

.people-about p {
    color: #848484;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 19px;
    padding-bottom: 22px;
}

.people-about h3 {
    color: #000000;
    font-family: 'Raleway - Semi Bold', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 55px;
}

.container-peoples {
    padding: 9px 8px 0 0;
}

.peoples {
    position: relative;
    overflow: hidden;
    display: flex;
    max-width: 1146px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.peoples:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 5;
}

.peoples:before {
    left: -1px;
    box-shadow: 2px 0 26px 18px #fff;
}

.peoples:after {
    right: -1px;
    box-shadow: -2px 0 26px 18px #fff;
}

.container-peoples .people {
    display: block;
}

.people a {
    position: relative;
    display: block;
    transition: .35s;
}

.people a:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: .3s;
    opacity: 0;
    background: #2ecc71;
}

.people a:hover:before,
.people a:focus:before {
    opacity: .6;
}

.container-peoples .people img {
    width: 50px;
    vertical-align: middle;
}

.social {
    margin: auto;
    max-width: 350px;
    width: 100%;
}

.social img {
    vertical-align: middle;
}

.social li:hover > ul {
    display: block;
}

.social ul {
    display: none;
}

.social li {
    display: inline;
    margin-right: 10px;
}

.twit-item, .face-item, .pin-item, .plus-item, .in-item, .youtube-item {
    background-color: #c5c5c5;
    border-radius: 50%;
}

.twit-item {
    padding: 10px 12px;
}

.face-item {
    padding: 10px 15px;
}

.pin-item, .plus-item {
    padding: 10px;
}

.in-item {
    padding: 10px 12px;
}

.youtube-item {
    padding: 10px 11px;
}

.twit-item:hover, .face-item:hover, .pin-item:hover, .plus-item:hover, .in-item:hover, .youtube-item:hover {
    background-color: #2ecc71;
    border-radius: 50%;
}

.twit-item:hover {
    padding: 10px 12px;
}

.face-item:hover {
    padding: 10px 15px;
}

.pin-item:hover, .plus-item:hover {
    padding: 10px;
}

.in-item:hover {
    padding: 10px 12px;
}

.youtube-item:hover {
    padding: 10px 11px;
}

.site-footer {
    background-color: #e3e3e3;
    min-height: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-main {
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 54px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: auto;
}

.nav-main a {
    text-decoration: none;
    color: #848484;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.nav-main a:hover {
    background-color: #2ecc71;
    border-radius: 53px;
    opacity: 0.5;
}



